* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
}

#map {
    /* the width and height may be set to any size */
    width: 100%;
    height: 400px;
}

#card-container {
    height: 320px;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

#five-day-card {
    font-size: x-small;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 0;
}

#geocoder-container > div {
    min-width: 50%;
    margin-left: 25%;
}

#user-search {
    max-width: 30%;
    border: #316CF4 solid 2px;
}

#five-day-forecast-location {
    border: #316CF4 solid 2px;
}

#air-qual {
    font-size: x-small;
    justify-content: left;
    font-weight: bold;
    margin-top: 4px;
}
